Vertical {
    width: 100%;
    height: 100%;
}

SnakeGameBoard {
    width: 100%;
    height: 90%;
}

SnakeGameBoard .header-container {
    height: 5;
    align-horizontal: center;
    border: solid blue;
}

SnakeGameBoard #time-display {
    width: 10%;
}

SnakeGameBoard Digits {
    width: 10%;
    text-align: left;
}

SnakeGameBoard .board-container {
    width: 100%;
    height: 90%;
    align-horizontal: center;
    align-vertical: middle;
}

SnakeGameBoard #board-grid {
    width: 120;
    height: 40;
    grid_size: 60 40;
}

SnakeGameBoard .cell {
    width: 2;
    height: auto;
    background: green;
    content-align: center middle;
}

SnakeGameBoard .cell-deactivate {
    width: 2;
    height: auto;
    background: black;
    content-align: center middle;
}

SnakeGameBoard .snake-food {
    width: 2;
    background: red;
}

SnakeGameBoard .game-over {
    color: red;
    text-style: bold;
    content-align: center middle;
}