Vertical {
    width: 100%;
    height: 100%;
}

GameBoard {
    width: 100%;
    height: 90%;
}

GameBoard .header-container {
    height: 5;
    align-horizontal: center;
    border: solid blue;
}

GameBoard #time-display {
    width: 10%;
}

GameBoard Digits {
    width: 10%;
    text-align: left;
}

GameBoard .board-container {
    width: 100%;
    height: 100%;
    align-horizontal: center;
    align-vertical: middle;
}

GameBoard #board-grid {
    width: 120;
    height: 40;
    grid_size: 60 40;
}

GameBoard .cell {
    width: 2;
    height: auto;
    background: green;
    content-align: center middle;
}

GameBoard .cell-deactivate {
    width: 2;
    height: auto;
    background: black;
    content-align: center middle;
}

GameBoard .snake-food {
    width: 2;
    background: red;
}