GameBoard #time-display {
    border: solid green;
    text-align: right;
}

GameBoard #board-grid {
    width: 120;
    height: 40;
    grid_size: 60 20;
}

GameBoard .cell {
    width: 2;
    height: 2;
    background: green;
    content-align: center middle;
}

GameBoard .cell-deactivate {
    width: 2;
    height: 2;
    background: black;
    content-align: center middle;
}